*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bannerDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-family: sans-serif;
}

#bannerDiv>img {
    width: 95%;
}

#appointmentDiv {
    text-align: center;
    /* line-height: 100%; */
    /* border: 1px solid black; */
}

#appointmentDiv>h1 {
    font-size: 3rem;
}

#appointmentDiv>img {
    width: 70%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
    margin-bottom: 2%;
    align-items: center;
}

form {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 4%;
}

form input , form select {
    padding: 4%;
    font-size: 1.2rem;
    /* margin: 3px; */
    margin-bottom: 15px;
    outline: none;
    border: 1px solid black;
    /* border: none; */
}

#emailId{
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid black;
}

#form > div{
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#form >div> p{
    position: absolute;
    right: 4%;
    top: 30%;
    color: red;
    font-weight: bold;
}

form select{
    border-right: none;
}

form > div> input{
    border-left: none;

}

form > div{
    display: grid;
    grid-template-columns: 20% 80%;
}

form > button{
    padding: 4%;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: none;
    transition: 0.5s linear;
}
form > button:hover{
    background-color: #454545;
}




@media screen and (max-width:800px) {
    #bannerDiv {
        grid-template-columns: 1fr;
        gap: 5%;
    }
    #form{
        width: 90%;
    }
}